html{
    width: 100%;
    text-align: center;
    height: 100%;
    color: blue;
}

.headingAboveTable
{
    color: green;
    margin-bottom: 0;
}

#teamTables
{
    width: 80%;
    margin-left: 10%;
    height: 100%;
    overflow: hidden;
}

#tablesRow1, #tablesRow2, #tablesRow3
{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
    overflow: hidden;
}

.leftTables{
    float: left;
    width: 50%;
    height: 100%;
    /* background-color: red; */
}

.rightTables{
    float: right;
    width: 50%;
    height: 100%;
    /* background-color: blue; */
}

.memberTable, th, td{
    border: 1px solid black;
    width: 100%;
}

.memberTable
{
    width: 90%;
    margin-left: 5%;
}

.col1, .col2
{
    width: 35%
}

/* reduces margin around headings above each table */


